body{
    background-color: antiquewhite;
}

.bienvenido{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    
}

.itemContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}
